
  
  
      <style>
        @font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-492603293361505158 .g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-492603293361505158 .invisible{visibility:hidden}.gps-492603293361505158 .absolute{position:absolute}.gps-492603293361505158 .relative{position:relative}.gps-492603293361505158 .z-1{z-index:1}.gps-492603293361505158 .mx-auto{margin-left:auto;margin-right:auto}.gps-492603293361505158 .mb-0{margin-bottom:0}.gps-492603293361505158 .flex{display:flex}.gps-492603293361505158 .inline-flex{display:inline-flex}.gps-492603293361505158 .grid{display:grid}.gps-492603293361505158 .h-5{height:20px}.gps-492603293361505158 .h-full{height:100%}.gps-492603293361505158 .w-5{width:20px}.gps-492603293361505158 .w-full{width:100%}.gps-492603293361505158 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-492603293361505158 .animate-spin{animation:spin 1s linear infinite}.gps-492603293361505158 .flex-col{flex-direction:column}.gps-492603293361505158 .items-center{align-items:center}.gps-492603293361505158 .justify-center{justify-content:center}.gps-492603293361505158 .gap-y-0{row-gap:0}.gps-492603293361505158 .overflow-hidden{overflow:hidden}.gps-492603293361505158 .break-words{overflow-wrap:break-word}.gps-492603293361505158 .rounded-none{border-radius:0}.gps-492603293361505158 .leading-\[0\]{line-height:0}.gps-492603293361505158 .no-underline{text-decoration-line:none}.gps-492603293361505158 .opacity-25{opacity:.25}.gps-492603293361505158 .opacity-75{opacity:.75}.gps-492603293361505158 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492603293361505158 .duration-200{transition-duration:.2s}.gps-492603293361505158 .duration-300{transition-duration:.3s}.gps-492603293361505158 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492603293361505158 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-492603293361505158 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-492603293361505158 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-492603293361505158 .disabled\:opacity-30:disabled{opacity:.3}.gps-492603293361505158 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-492603293361505158 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-492603293361505158 .\[\&\>svg\]\:h-auto>svg{height:auto}.gps-492603293361505158 .\[\&\>svg\]\:w-full>svg{width:100%}.gps-492603293361505158 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-492603293361505158 .\[\&_p\]\:inline p{display:inline}.gps-492603293361505158 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-492603293361505158 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492603293361505158 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2la07f0e6564"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(17, 17, 13)"
        class="i2la07f0e6564 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2la07f0e6564 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="w-i2la07f0e6564"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2la07f0e6564 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l5af11e0fbd relative flex flex-col"
    >
      <div style="--mt:0px;--ml:0px;--mb:44px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="i2ld069fb265e ">
      
    <div
      parentTag="Col"
        class="i2ld069fb265e "
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-heading-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:rgb(247, 247, 246);word-break:break-word"
        >
        Make More Money.... Join The Challenge Today
        </h2>
      </div>
    </div>
      </div>
      
      
    <div
      parentTag="Col" id="i2l61770b1942"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(19, 46, 31)"
        class="i2l61770b1942 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lb13e17334f relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2l23ac32f268 "
        style="--ta:center;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:23px;--size-tablet:25px;--size-mobile:23px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        General Admission 6pm - 8pm EST
        </div>
      </div>
    </div><div style="" class="i2l09f6ac5391 ">
      
    
      
      
    <div
      uid="i2l09f6ac5391"
       style="--mt:0px;--ml:0px;--mb:44px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="inline-flex flex-col"
        style="--rg:8px"
        >
        
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:16px"
    >
    <div
      
      style=""
      class="c-i2l09aca80fe1 relative flex flex-col"
    >
      <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="leading-[0] i2l09aca80fe1"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:rgb(199, 183, 133);--t:rotate(0deg);--w:10px;--h:10px;--minw:10px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg width='10' height='10' xmlns='http://www.w3.org/2000/svg'> <image href='https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageozgbfajhba.png' height='10' width='10' /> </svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="c-i2lf529ef5a16 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2lf529ef5a16 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:12px;--size-tablet:14px;--size-mobile:12px;--c:rgb(136, 150, 144);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        >>5 Days Of Extended Training [6:00 PM - 8:00 PM] With Carter Cofield,
        </div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:16px"
    >
    <div
      
      style=""
      class="c-i2l12ad26b17e relative flex flex-col"
    >
      <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="leading-[0] i2l12ad26b17e"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:rgb(199, 183, 133);--t:rotate(0deg);--w:10px;--h:10px;--minw:10px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg width='10' height='11' xmlns='http://www.w3.org/2000/svg'> <image href='https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagebqbupcxmkt.png' height='10' width='11' /> </svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="c-i2l442d1636aa relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2l442d1636aa "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:12px;--size-tablet:14px;--size-mobile:12px;--c:rgb(192, 199, 196);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        Access To The Get the Bag Challenge Facebook Group
        </div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:16px"
    >
    <div
      
      style=""
      class="c-i2l87de212dbc relative flex flex-col"
    >
      <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="leading-[0] i2l87de212dbc"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:rgb(199, 183, 133);--t:rotate(0deg);--w:10px;--h:10px;--minw:10px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg width='10' height='10' xmlns='http://www.w3.org/2000/svg'> <image href='https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageohtzkufgsr.png' height='10' width='10' /> </svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="c-i2l1497916727 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2l1497916727 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:12px;--size-tablet:14px;--size-mobile:12px;--c:rgb(247, 247, 246);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        Access to Exclusive VIP Pre-Session Q&A Zoom Calls [Listen only]
        </div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:16px"
    >
    <div
      
      style=""
      class="c-i2lfa6f390cf1 relative flex flex-col"
    >
      <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="leading-[0] i2lfa6f390cf1"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:rgb(199, 183, 133);--t:rotate(0deg);--w:10px;--h:10px;--minw:10px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg width='10' height='11' xmlns='http://www.w3.org/2000/svg'> <image href='https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagetsfrcnocuy.png' height='10' width='11' /> </svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="c-i2ld2f33bc33c relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2ld2f33bc33c "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:12px;--size-tablet:14px;--size-mobile:12px;--c:rgb(247, 247, 246);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        Exclusive Kick Off Call With Carter Cofield, Dion Coopwood, and George Acheampong
        </div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:16px"
    >
    <div
      
      style=""
      class="c-i2l2210b320d8 relative flex flex-col"
    >
      <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="leading-[0] i2l2210b320d8"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:rgb(199, 183, 133);--t:rotate(0deg);--w:10px;--h:10px;--minw:10px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg width='10' height='10' xmlns='http://www.w3.org/2000/svg'> <image href='https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagemtdcuektdx.png' height='10' width='10' /> </svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="c-i2ld95cf53cd3 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2ld95cf53cd3 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:12px;--size-tablet:14px;--size-mobile:12px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        >>2-Hours per day of insane financial literacy education
        </div>
      </div>
    </div>
    </div>
  </li>
      </ul>
  </div>
  
      </div>
    <div
      parentTag="Col"
        class="i2lcdee02c6e2 "
        style="--ta:center;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:23px;--size-tablet:25px;--size-mobile:23px;--c:rgb(61, 133, 39);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        $447 $297 Today!
        </div>
      </div>
    </div><div
    
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    class=""
  >
    <style>
    .i2l50a071d1c5.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      border-radius: var(--g-radius-small);
    }

    .i2l50a071d1c5:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="i2l50a071d1c5" aria-label="Get General Admission"
      data-state="idle"
      class="i2l50a071d1c5 gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-highlight"
      style="--bg:rgb(120, 177, 104);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--c:rgb(49, 89, 36);--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:23px;--size-tablet:25px;--size-mobile:23px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Get General Admission
      </span>
    </button>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l45af56e4fb relative flex flex-col"
    >
      <div style="--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="i2l1ce05d3657 ">
      
    <div
      parentTag="Col"
        class="i2l1ce05d3657 "
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:29px;--size-tablet:32px;--size-mobile:29px;--c:rgb(247, 224, 76);word-break:break-word"
        >
        The VIP Experience
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="i2le795801d12 "
        style="--ta:center;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:17px;--size-tablet:18px;--size-mobile:16px;--c:rgb(247, 247, 246);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        6pm-8pm EST
        </div>
      </div>
    </div><div style="" class="i2lec09070a19 ">
      
    
      
      
    <div
      uid="i2lec09070a19"
       style="--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="inline-flex flex-col"
        style="--rg:8px"
        >
        
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:16px"
    >
    <div
      
      style=""
      class="c-i2l297bffc4cc relative flex flex-col"
    >
      <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="leading-[0] i2l297bffc4cc"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:rgb(180, 158, 90);--t:rotate(0deg);--w:10px;--h:10px;--minw:10px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg width='10' height='11' xmlns='http://www.w3.org/2000/svg'> <image href='https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagevqiydagsky.png' height='10' width='11' /> </svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="c-i2l6187098fc1 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2l6187098fc1 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:12px;--size-tablet:14px;--size-mobile:12px;--c:rgb(80, 101, 91);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        VIP Only Telegram Chat
        </div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:16px"
    >
    <div
      
      style=""
      class="c-i2la78f62a33e relative flex flex-col"
    >
      <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="leading-[0] i2la78f62a33e"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:rgb(180, 158, 90);--t:rotate(0deg);--w:10px;--h:10px;--minw:10px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg width='10' height='11' xmlns='http://www.w3.org/2000/svg'> <image href='https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagewrbmxwzcar.png' height='10' width='11' /> </svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="c-i2lcfdcc1f13c relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2lcfdcc1f13c "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:12px;--size-tablet:14px;--size-mobile:12px;--c:rgb(80, 101, 91);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        >> Exclusive Ticket to Melanin Millionaire Award Show in ATL (In-person event)
        </div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:16px"
    >
    <div
      
      style=""
      class="c-i2l2559360e2b relative flex flex-col"
    >
      <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="leading-[0] i2l2559360e2b"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:rgb(180, 158, 90);--t:rotate(0deg);--w:10px;--h:10px;--minw:10px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg width='10' height='12' xmlns='http://www.w3.org/2000/svg'> <image href='https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagekbbsfzxsgh.png' height='10' width='12' /> </svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="c-i2lf8645182a7 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2lf8645182a7 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:12px;--size-tablet:14px;--size-mobile:12px;--c:rgb(80, 101, 91);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        Talk Directly To Hosts and Ask Your Question During Q&A call
        </div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:16px"
    >
    <div
      
      style=""
      class="c-i2l9b2f168dba relative flex flex-col"
    >
      <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="leading-[0] i2l9b2f168dba"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:rgb(180, 158, 90);--t:rotate(0deg);--w:10px;--h:10px;--minw:10px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg width='10' height='12' xmlns='http://www.w3.org/2000/svg'> <image href='https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageswvbznfzee.png' height='10' width='12' /> </svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="c-i2lcc53fe212e relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2lcc53fe212e "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:12px;--size-tablet:14px;--size-mobile:12px;--c:rgb(192, 199, 196);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        5 Days Of Extended Training [6:00 PM - 8:00 PM] With Carter Cofield,
        </div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:16px"
    >
    <div
      
      style=""
      class="c-i2ld399966880 relative flex flex-col"
    >
      <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="leading-[0] i2ld399966880"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:rgb(103, 105, 62);--t:rotate(0deg);--w:10px;--h:10px;--minw:10px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg width='10' height='10' xmlns='http://www.w3.org/2000/svg'> <image href='https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagegzzyivyhzv.png' height='10' width='10' /> </svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="c-i2laacddcfd35 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2laacddcfd35 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:12px;--size-tablet:14px;--size-mobile:12px;--c:rgb(80, 101, 91);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        Access To The Get the Bag Challenge Facebook Group
        </div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:16px"
    >
    <div
      
      style=""
      class="c-i2le315782619 relative flex flex-col"
    >
      <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="leading-[0] i2le315782619"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:rgb(180, 158, 90);--t:rotate(0deg);--w:10px;--h:10px;--minw:10px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg width='10' height='11' xmlns='http://www.w3.org/2000/svg'> <image href='https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagenxptacfsxb.png' height='10' width='11' /> </svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="c-i2le3c558bfcb relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2le3c558bfcb "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:12px;--size-tablet:14px;--size-mobile:12px;--c:rgb(80, 101, 91);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        Exclusive VIP Pre-Session Q&A Zoom Calls
        </div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:16px"
    >
    <div
      
      style=""
      class="c-i2l27ca3ad3a0 relative flex flex-col"
    >
      <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="leading-[0] i2l27ca3ad3a0"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:rgb(180, 158, 90);--t:rotate(0deg);--w:10px;--h:10px;--minw:10px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg width='10' height='11' xmlns='http://www.w3.org/2000/svg'> <image href='https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagezedccpmskc.png' height='10' width='11' /> </svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="c-i2l6c0699c038 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2l6c0699c038 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:12px;--size-tablet:14px;--size-mobile:12px;--c:rgb(136, 150, 144);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        George Acheampong
        </div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:16px"
    >
    <div
      
      style=""
      class="c-i2lc35a19d93c relative flex flex-col"
    >
      <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="leading-[0] i2lc35a19d93c"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:rgb(180, 158, 90);--t:rotate(0deg);--w:10px;--h:10px;--minw:10px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg width='10' height='10' xmlns='http://www.w3.org/2000/svg'> <image href='https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagehlbnllofdu.png' height='10' width='10' /> </svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="c-i2l526e3da200 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2l526e3da200 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:12px;--size-tablet:14px;--size-mobile:12px;--c:rgb(136, 150, 144);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        More VIP Perks, Cash Giveaways, and other Suprises!
        </div>
      </div>
    </div>
    </div>
  </li>
      </ul>
  </div>
  
      </div>
    <div
      parentTag="Col"
        class="i2l80e36f008f "
        style="--ta:center;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:23px;--size-tablet:25px;--size-mobile:23px;--c:rgb(247, 247, 246);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        $997 $497 Today!
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="i2l4dde02fc96 "
        style="--ta:center;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:23px;--size-tablet:25px;--size-mobile:23px;--c:rgb(247, 224, 76);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        $997 $497 Today!
        </div>
      </div>
    </div><div
    
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    class=""
  >
    <style>
    .i2lf3641ee8d5.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      border-radius: var(--g-radius-small);
    }

    .i2lf3641ee8d5:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="i2lf3641ee8d5" aria-label="Go Vip Admission! BEST VALUE"
      data-state="idle"
      class="i2lf3641ee8d5 gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-highlight"
      style="--bg:rgb(119, 178, 104);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--c:rgb(49, 89, 36);--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:23px;--size-tablet:25px;--size-mobile:23px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Go Vip Admission! BEST VALUE
      </span>
    </button>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-492603293361505158 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=492603293361505158&template_id=492601718719120607)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
