
  
  
  <style>
    .gps-492600930240299910 .pointer-events-auto{pointer-events:auto}.gps-492600930240299910 .relative{position:relative}.gps-492600930240299910 .mx-auto{margin-left:auto;margin-right:auto}.gps-492600930240299910 .mb-0{margin-bottom:0}.gps-492600930240299910 .\!inline{display:inline!important}.gps-492600930240299910 .flex{display:flex}.gps-492600930240299910 .grid{display:grid}.gps-492600930240299910 .h-full{height:100%}.gps-492600930240299910 .w-full{width:100%}.gps-492600930240299910 .max-w-full{max-width:100%}.gps-492600930240299910 .flex-col{flex-direction:column}.gps-492600930240299910 .gap-y-0{row-gap:0}.gps-492600930240299910 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492600930240299910 .duration-200{transition-duration:.2s}.gps-492600930240299910 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492600930240299910 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gHVtO-ABOh"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHVtO-ABOh mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXcGw9L1vE relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g0gnQCX4SJ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0gnQCX4SJ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYL2Duqpms relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gI213GTTgD"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-xl);--cg:30px;--cg-mobile:21px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gI213GTTgD mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYIBzJjWHQ relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image ggyZzJwJLO"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/7bafc541-8a4b-4184-af59-69a39c9c41be/-/format/auto/" data-srcset="https://ucarecdn.com/7bafc541-8a4b-4184-af59-69a39c9c41be/-/format/auto/ 768w,https://ucarecdn.com/7bafc541-8a4b-4184-af59-69a39c9c41be/-/format/auto/ 1024w,https://ucarecdn.com/7bafc541-8a4b-4184-af59-69a39c9c41be/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="255" height="132" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:255/132;--aspect-tablet:255/132;--aspect-mobile:255/132;--objf:cover;--w:170px;--w-tablet:170px;--w-mobile:170px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gx66A8ZqlU relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gkzGSNDH-h"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/a3707f40-c3f8-46db-b0d5-070f16f4fba7/-/format/auto/" data-srcset="https://ucarecdn.com/a3707f40-c3f8-46db-b0d5-070f16f4fba7/-/format/auto/ 768w,https://ucarecdn.com/a3707f40-c3f8-46db-b0d5-070f16f4fba7/-/format/auto/ 1024w,https://ucarecdn.com/a3707f40-c3f8-46db-b0d5-070f16f4fba7/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="255" height="132" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:255/132;--aspect-tablet:255/132;--aspect-mobile:255/132;--objf:cover;--w:170px;--w-tablet:170px;--w-mobile:170px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkZHBxuiwg relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gwGIofcTVc"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/227f7751-5526-40c9-87e5-1f27ab7cc750/-/format/auto/" data-srcset="https://ucarecdn.com/227f7751-5526-40c9-87e5-1f27ab7cc750/-/format/auto/ 768w,https://ucarecdn.com/227f7751-5526-40c9-87e5-1f27ab7cc750/-/format/auto/ 1024w,https://ucarecdn.com/227f7751-5526-40c9-87e5-1f27ab7cc750/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="255" height="132" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:255/132;--aspect-tablet:255/132;--aspect-mobile:255/132;--objf:cover;--w:170px;--w-tablet:170px;--w-mobile:170px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gesiX3QK48 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gzYqkylA9z"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-xl);--cg:30px;--cg-mobile:21px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzYqkylA9z mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfvmMsYt5D relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g7XOlJSSJd"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/5018fbae-6e0a-4901-b4f3-e8539451c42c/-/format/auto/" data-srcset="https://ucarecdn.com/5018fbae-6e0a-4901-b4f3-e8539451c42c/-/format/auto/ 768w,https://ucarecdn.com/5018fbae-6e0a-4901-b4f3-e8539451c42c/-/format/auto/ 1024w,https://ucarecdn.com/5018fbae-6e0a-4901-b4f3-e8539451c42c/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="255" height="132" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:255/132;--aspect-tablet:255/132;--aspect-mobile:255/132;--objf:cover;--w:170px;--w-tablet:170px;--w-mobile:170px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMuEK9bmln relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gs95tKgX5-"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/6e4b6701-ca51-485d-ac0d-82d845877256/-/format/auto/" data-srcset="https://ucarecdn.com/6e4b6701-ca51-485d-ac0d-82d845877256/-/format/auto/ 768w,https://ucarecdn.com/6e4b6701-ca51-485d-ac0d-82d845877256/-/format/auto/ 1024w,https://ucarecdn.com/6e4b6701-ca51-485d-ac0d-82d845877256/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="255" height="132" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:255/132;--aspect-tablet:255/132;--aspect-mobile:255/132;--objf:cover;--w:170px;--w-tablet:170px;--w-mobile:170px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giixDM0Dbg relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image glI0ZOTDWg"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/5cf6de1a-3e4e-46cd-b7de-943567096e07/-/format/auto/" data-srcset="https://ucarecdn.com/5cf6de1a-3e4e-46cd-b7de-943567096e07/-/format/auto/ 768w,https://ucarecdn.com/5cf6de1a-3e4e-46cd-b7de-943567096e07/-/format/auto/ 1024w,https://ucarecdn.com/5cf6de1a-3e4e-46cd-b7de-943567096e07/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="255" height="132" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:255/132;--aspect-tablet:255/132;--aspect-mobile:255/132;--objf:cover;--w:170px;--w-tablet:170px;--w-mobile:170px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-492600930240299910 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=492600930240299910&template_id=492600929720206214)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
