
  
  
      <style>
        @font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-494753369525584771 .pointer-events-auto{pointer-events:auto}.gps-494753369525584771 .invisible{visibility:hidden}.gps-494753369525584771 .absolute{position:absolute}.gps-494753369525584771 .relative{position:relative}.gps-494753369525584771 .inset-0{inset:0}.gps-494753369525584771 .left-\[var\(--left\)\]{left:var(--left)}.gps-494753369525584771 .top-\[var\(--top\)\]{top:var(--top)}.gps-494753369525584771 .z-1{z-index:1}.gps-494753369525584771 .mx-auto{margin-left:auto;margin-right:auto}.gps-494753369525584771 .mb-0{margin-bottom:0}.gps-494753369525584771 .\!inline{display:inline!important}.gps-494753369525584771 .flex{display:flex}.gps-494753369525584771 .inline-flex{display:inline-flex}.gps-494753369525584771 .grid{display:grid}.gps-494753369525584771 .h-5{height:20px}.gps-494753369525584771 .h-full{height:100%}.gps-494753369525584771 .w-5{width:20px}.gps-494753369525584771 .w-full{width:100%}.gps-494753369525584771 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-494753369525584771 .animate-spin{animation:spin 1s linear infinite}.gps-494753369525584771 .flex-col{flex-direction:column}.gps-494753369525584771 .\!content-end{align-content:flex-end!important}.gps-494753369525584771 .items-center{align-items:center}.gps-494753369525584771 .justify-end{justify-content:flex-end}.gps-494753369525584771 .justify-center{justify-content:center}.gps-494753369525584771 .gap-y-0{row-gap:0}.gps-494753369525584771 .self-center{align-self:center}.gps-494753369525584771 .overflow-hidden{overflow:hidden}.gps-494753369525584771 .break-words{overflow-wrap:break-word}.gps-494753369525584771 .rounded-none{border-radius:0}.gps-494753369525584771 .no-underline{text-decoration-line:none}.gps-494753369525584771 .opacity-25{opacity:.25}.gps-494753369525584771 .opacity-75{opacity:.75}.gps-494753369525584771 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-494753369525584771 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-494753369525584771 .transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-494753369525584771 .duration-200{transition-duration:.2s}.gps-494753369525584771 .duration-300{transition-duration:.3s}.gps-494753369525584771 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-494753369525584771 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-494753369525584771 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-494753369525584771 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-494753369525584771 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-494753369525584771 .group\/hero:hover .group-hover\/hero\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-494753369525584771 .group\/hero:hover .group-hover\/hero\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-494753369525584771 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-494753369525584771 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-494753369525584771 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-494753369525584771 .\[\&_p\]\:inline p{display:inline}.gps-494753369525584771 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-494753369525584771 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-494753369525584771 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l6d97c222bf"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(42, 71, 70)"
        class="i2l6d97c222bf mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-i2lacd972ad87 relative flex flex-col"
    >
      
    
    
    
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-hero-banner.js" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"color","color":"rgb(42, 71, 70)"},"tablet":{"type":"color","color":"rgb(42, 71, 70)"},"mobile":{"type":"color","color":"rgb(42, 71, 70)"}},"uid":"i2lacd972ad87"}'
      
      class="i2lacd972ad87 group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full"
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--d:flex;--d-tablet:flex;--d-mobile:flex;--h:800px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
      <div
      class="relative flex flex-col overflow-hidden  justify-end"
        style="--h:800px;--h-tablet:500px;--h-mobile:500px"
      >
        <div 
          class="overflow-hidden w-full h-full"
          style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip:rect(0, auto, auto, 0)">
          <div
            aria-label="Background Image"
            role="banner"
            class="gp-hero-banner-bg absolute overflow-hidden inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center"
            style="--bgc:rgb(42, 71, 70);--bgc-tablet:rgb(42, 71, 70);--bgc-mobile:rgb(42, 71, 70);--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute"
          > </div>
        </div>
        <div
          aria-label="Overlay"
          role="banner"
          class="absolute inset-0 left-[var(--left)] top-[var(--top)] transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#121212;--top:0;--left:0;--op:0%"
        > </div>
        
        
      
      
    <div
      id
        style="--pt:0px;--pb:0px;--pl:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%)"
        class="!content-end mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:end"
      class="c-hb-i2lacd972ad87 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-c-nsw-i2le11f0c3142"
        style="--mt:auto;--ml:auto;--mb:40px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:585px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-c-nsw-i2le11f0c3142 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2le11f0c3142 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image i2lc21439f7bf"
    style="--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagedqoazwswtf.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagedqoazwswtf.png 768w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagedqoazwswtf.png 1024w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagedqoazwswtf.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="86" height="76" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:86/76;--objf:cover;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
  />
      </div>
  </div><div style="--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="i2l93fc5c2f80 ">
      
    <div
      parentTag="Col"
        class="i2l93fc5c2f80 "
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:40px;--size-tablet:41px;--size-mobile:36px;--c:rgb(255, 255, 255);word-break:break-word"
        >
        ai-commerce
        </h2>
      </div>
    </div>
      </div><div
    
    role="presentation"
    class="group/image i2l14b7f5666a"
    style="--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagegsakbronfr.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagegsakbronfr.png 768w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagegsakbronfr.png 1024w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagegsakbronfr.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="585" height="350" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:585/350;--aspect-tablet:585/350;--aspect-mobile:585/350;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
  />
      </div>
  </div><div
    
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    class=""
  >
    <style>
    .i2lec8933a7d2.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      border-radius: var(--g-radius-small);
    }

    .i2lec8933a7d2:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="i2lec8933a7d2" aria-label="Apply Now"
      data-state="idle"
      class="i2lec8933a7d2 gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-highlight"
      style="--bg:rgb(57, 41, 40);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--c:rgb(255, 255, 255);--w:191px;--w-tablet:191px;--w-mobile:191px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:30px;--size-tablet:32px;--size-mobile:29px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Apply Now
      </span>
    </button>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      </div>
    </gp-hero-banner>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-494753369525584771 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/the-co-creative/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=494753257772549237&sectionId=494753369525584771)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
