
  
  
      <style>
        @font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-492603293210510559 .pointer-events-auto{pointer-events:auto}.gps-492603293210510559 .absolute{position:absolute}.gps-492603293210510559 .relative{position:relative}.gps-492603293210510559 .inset-0{inset:0}.gps-492603293210510559 .left-\[var\(--left\)\]{left:var(--left)}.gps-492603293210510559 .top-\[var\(--top\)\]{top:var(--top)}.gps-492603293210510559 .mx-auto{margin-left:auto;margin-right:auto}.gps-492603293210510559 .mb-0{margin-bottom:0}.gps-492603293210510559 .\!inline{display:inline!important}.gps-492603293210510559 .flex{display:flex}.gps-492603293210510559 .grid{display:grid}.gps-492603293210510559 .h-full{height:100%}.gps-492603293210510559 .w-full{width:100%}.gps-492603293210510559 .max-w-full{max-width:100%}.gps-492603293210510559 .flex-col{flex-direction:column}.gps-492603293210510559 .\!content-start{align-content:flex-start!important}.gps-492603293210510559 .items-center{align-items:center}.gps-492603293210510559 .justify-start{justify-content:flex-start}.gps-492603293210510559 .justify-center{justify-content:center}.gps-492603293210510559 .gap-y-0{row-gap:0}.gps-492603293210510559 .self-center{align-self:center}.gps-492603293210510559 .overflow-hidden{overflow:hidden}.gps-492603293210510559 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492603293210510559 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492603293210510559 .transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492603293210510559 .duration-200{transition-duration:.2s}.gps-492603293210510559 .duration-300{transition-duration:.3s}.gps-492603293210510559 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-492603293210510559 .group\/hero:hover .group-hover\/hero\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-492603293210510559 .group\/hero:hover .group-hover\/hero\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-492603293210510559 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-492603293210510559 .\[\&_p\]\:inline p{display:inline}.gps-492603293210510559 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492603293210510559 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l1df07ab9b4"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(61, 50, 50)"
        class="i2l1df07ab9b4 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-i2lb5d6700b55 relative flex flex-col"
    >
      
    
    
    
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-hero-banner.js" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"color","color":"rgb(61, 50, 50)"},"tablet":{"type":"color","color":"rgb(61, 50, 50)"},"mobile":{"type":"color","color":"rgb(61, 50, 50)"}},"uid":"i2lb5d6700b55"}'
      
      class="i2lb5d6700b55 group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full"
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--d:flex;--d-tablet:flex;--d-mobile:flex;--h:615px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
      <div
      class="relative flex flex-col overflow-hidden  justify-start"
        style="--h:615px;--h-tablet:500px;--h-mobile:500px"
      >
        <div 
          class="overflow-hidden w-full h-full"
          style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip:rect(0, auto, auto, 0)">
          <div
            aria-label="Background Image"
            role="banner"
            class="gp-hero-banner-bg absolute overflow-hidden inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center"
            style="--bgc:rgb(61, 50, 50);--bgc-tablet:rgb(61, 50, 50);--bgc-mobile:rgb(61, 50, 50);--duration:0.5s;--scale:110%;--top:0;--left:0;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute"
          > </div>
        </div>
        <div
          aria-label="Overlay"
          role="banner"
          class="absolute inset-0 left-[var(--left)] top-[var(--top)] transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#121212;--top:0;--left:0;--op:0%"
        > </div>
        
        
      
      
    <div
      id
        style="--pt:0px;--pb:0px;--pl:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%)"
        class="!content-start mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-hb-i2lb5d6700b55 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-c-nsw-i2l36dcaf7d3d"
        style="--mt:12px;--ml:312px;--mb:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:529px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-c-nsw-i2l36dcaf7d3d mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2l36dcaf7d3d relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2la29e53e496 "
        style="--ta:center;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:21px;--size-tablet:18px;--size-mobile:16px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        Join The Get The Bag Keep The Bag Challenge To Learn..
        </div>
      </div>
    </div><div style="--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="i2l63866d461a ">
      
    <div
      parentTag="Col"
        class="i2l63866d461a "
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:33px;--size-tablet:32px;--size-mobile:29px;--c:rgb(248, 248, 248);word-break:break-word"
        >
        GET UP TO S5OK INFUNDING SAVE $50K IN TAXES & EARN S50K FROM INVESTMENTS
        </h2>
      </div>
    </div>
      </div><div
    
    role="presentation"
    class="group/image i2ld0859e02d4"
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageztaqzevpgw.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageztaqzevpgw.png 768w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageztaqzevpgw.png 1024w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageztaqzevpgw.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="391" height="242" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:391/242;--aspect-tablet:391/242;--aspect-mobile:391/242;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      </div>
    </gp-hero-banner>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-492603293210510559 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=492603293210510559&template_id=492601718719120607)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
