
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Prata:400|Open+Sans:400,700,600&display=swap');
      </style>
    
  <style>
    .gps-492600929871201158 .focus\:\!shadow-none,.gps-492600929871201158 .hover\:\!shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-492600929871201158 .invisible{visibility:hidden}.gps-492600929871201158 .fixed{position:fixed}.gps-492600929871201158 .absolute{position:absolute}.gps-492600929871201158 .relative{position:relative}.gps-492600929871201158 .top-\[27px\]{top:27px}.gps-492600929871201158 .z-1{z-index:1}.gps-492600929871201158 .z-100{z-index:100}.gps-492600929871201158 .mx-auto{margin-left:auto;margin-right:auto}.gps-492600929871201158 .mb-0{margin-bottom:0}.gps-492600929871201158 .flex{display:flex}.gps-492600929871201158 .inline-flex{display:inline-flex}.gps-492600929871201158 .grid{display:grid}.gps-492600929871201158 .hidden{display:none}.gps-492600929871201158 .\!h-auto{height:auto!important}.gps-492600929871201158 .h-5{height:20px}.gps-492600929871201158 .h-full{height:100%}.gps-492600929871201158 .w-5{width:20px}.gps-492600929871201158 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-492600929871201158 .animate-spin{animation:spin 1s linear infinite}.gps-492600929871201158 .flex-col{flex-direction:column}.gps-492600929871201158 .items-center{align-items:center}.gps-492600929871201158 .justify-center{justify-content:center}.gps-492600929871201158 .gap-y-0{row-gap:0}.gps-492600929871201158 .overflow-hidden{overflow:hidden}.gps-492600929871201158 .break-words{overflow-wrap:break-word}.gps-492600929871201158 .rounded{border-radius:4px}.gps-492600929871201158 .rounded-none{border-radius:0}.gps-492600929871201158 .\!bg-none{background-image:none!important}.gps-492600929871201158 .p-\[16px\]{padding:16px}.gps-492600929871201158 .text-\[14px\]{font-size:14px}.gps-492600929871201158 .leading-normal{line-height:1.5}.gps-492600929871201158 .text-g-text-3{color:var(--g-c-text-3)}.gps-492600929871201158 .no-underline{text-decoration-line:none}.gps-492600929871201158 .opacity-25{opacity:.25}.gps-492600929871201158 .opacity-75{opacity:.75}.gps-492600929871201158 .\!outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-492600929871201158 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492600929871201158 .duration-200{transition-duration:.2s}.gps-492600929871201158 .duration-300{transition-duration:.3s}.gps-492600929871201158 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492600929871201158 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-492600929871201158 .hover\:\!shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-492600929871201158 .focus\:\!shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-492600929871201158 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-492600929871201158 .disabled\:opacity-30:disabled{opacity:.3}.gps-492600929871201158 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-492600929871201158 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-492600929871201158 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-492600929871201158 .\[\&_p\]\:inline p{display:inline}.gps-492600929871201158 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-492600929871201158 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492600929871201158 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gtzbaqAl6C"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtzbaqAl6C mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gf4TGIq_tJ relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="ggsF38dA3w"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggsF38dA3w mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gafoS-ejbV relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl)" class="gdmgrAO6JY ">
      
    <div
      parentTag="Col"
        class="gdmgrAO6JY "
        style="--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-Prata, Prata);--weight:400;--ls:0px;--lh:130%;--size:40px;--size-tablet:40px;--size-mobile:35px;--c:#242424;word-break:break-word"
        >
        <p>Subscribe To Our<br>Newsletter</p>
        </h2>
      </div>
    </div>
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmspwja_vb relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="gZVFN5XtpP ">
      
    <gp-form 
      id="gZVFN5XtpP"
      style=""
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gZVFN5XtpP"
        href="" target="_self"
      >
      </a>
      {% form 'customer', class: 'gp-form-gZVFN5XtpP ' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gZVFN5XtpP"
            class="gp-form-message hidden top-[27px] z-100 fixed rounded p-[16px] text-[14px] leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            Can’t send email. Please try again later.
          </div>
        {% endif %}
        <div
          id="gp-form-success-gZVFN5XtpP"
          class="gp-form-message hidden top-[27px] z-100 fixed rounded p-[16px] text-[14px] leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          Thanks for contacting us. We'll get back to you as soon as possible.
        </div>
        
      
      
    <div
      parentTag="Newsletter" id="gWAwQ65ulm"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:0px;--cg-mobile:0px;--pc:center;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWAwQ65ulm mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPRgLQsOU0 relative flex flex-col"
    >
      
    <div
      class="gyY4J8pvng"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <input
        type="email"
        class="gp-form-item !outline-none !h-auto focus:!shadow-none hover:!shadow-none !bg-none"
        style="--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:14px;--pl:19px;--pr:19px;--pt:12px;--pb:12px;--w:100%;--w-tablet:100%;--w-mobile:100%;--b:solid;--bc:#E0E0E0;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="Enter your email"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giRpwzDWKS relative flex flex-col"
    >
      
    <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <style>
    .gUAemCNs58.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-brand, brand);
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gUAemCNs58:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-brand, brand);
  
      
    }
  </style>
    <button
      type="submit" data-id="gUAemCNs58" aria-label="SUBSCRIBE"
      data-state="idle"
      class="gUAemCNs58 gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3"
      style="--hvr-bg:#DB2652;--bg:#242424;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:16px;--pr:16px;--pt:13px;--pb:13px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:13px;--pb-mobile:13px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:14px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        SUBSCRIBE
      </span>
    </button>
  </div>
  
    </div>
    </div>
  
    
    <div
      parentTag="Newsletter"
        class="gYBkHHykFG "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word"
        >
        <p>View <a href="#"><span style="color:#1890FF;">Privacy Policy</span></a> &amp; <a href="#"><span style="color:#1890FF;">Advertising Terms</span></a></p>
        </div>
      </div>
    </div>
      {% endform %}
    </gp-form>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-form.js" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-492600929871201158 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=492600929871201158&template_id=492600929720206214)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
