
  
  
  <style>
    .gps-492598816613074143 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-492598816613074143 .pointer-events-auto{pointer-events:auto}.gps-492598816613074143 .relative{position:relative}.gps-492598816613074143 .mx-auto{margin-left:auto;margin-right:auto}.gps-492598816613074143 .mb-0{margin-bottom:0}.gps-492598816613074143 .\!inline{display:inline!important}.gps-492598816613074143 .flex{display:flex}.gps-492598816613074143 .inline-flex{display:inline-flex}.gps-492598816613074143 .grid{display:grid}.gps-492598816613074143 .h-full{height:100%}.gps-492598816613074143 .w-full{width:100%}.gps-492598816613074143 .max-w-full{max-width:100%}.gps-492598816613074143 .flex-col{flex-direction:column}.gps-492598816613074143 .flex-wrap{flex-wrap:wrap}.gps-492598816613074143 .items-center{align-items:center}.gps-492598816613074143 .gap-y-0{row-gap:0}.gps-492598816613074143 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-492598816613074143 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492598816613074143 .duration-200{transition-duration:.2s}.gps-492598816613074143 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492598816613074143 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-492598816613074143 .\[\&_p\]\:inline p{display:inline}.gps-492598816613074143 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492598816613074143 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gWUL5UWeQm"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWUL5UWeQm mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQRFl71AJ6 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gqaL6Z0SuB"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl:15px;--pr:15px;--pl-mobile:15px;--pr-mobile:15px;--pl-tablet:15px;--pr-tablet:15px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqaL6Z0SuB mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gg1qOJHqlr relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gPjgz_74_C"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/0d935f52-7d92-41c7-a84b-827faf5d4915/-/format/auto/" data-srcset="https://ucarecdn.com/0d935f52-7d92-41c7-a84b-827faf5d4915/-/format/auto/ 768w,https://ucarecdn.com/0d935f52-7d92-41c7-a84b-827faf5d4915/-/format/auto/ 1024w,https://ucarecdn.com/0d935f52-7d92-41c7-a84b-827faf5d4915/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="203" height="64" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:203/64;--aspect-tablet:203/64;--aspect-mobile:203/64;--objf:cover;--w:135px;--w-tablet:135px;--w-mobile:135px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="gAmP5BXLV7 "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-s);--pb:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-bg-3 g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word"
        >
        <p>We provides the ultimate fitness solutions to help you achieve ypur goals and help more people fall in love with fitness.</p>
        </div>
      </div>
    </div>
    
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <div 
            class="flex flex-wrap"
            style="--cg:var(--g-s-l);--jc:left">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gJnKj0ut8W ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image geoXcEd1yb"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <a
        class="pointer-events-auto h-full"
        href="#" target="_self" title="Image Title"
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/827b0e1d-e258-4909-921c-1a7588019ea3/-/format/auto/" data-srcset="https://ucarecdn.com/827b0e1d-e258-4909-921c-1a7588019ea3/-/format/auto/ 768w,https://ucarecdn.com/827b0e1d-e258-4909-921c-1a7588019ea3/-/format/auto/ 1024w,https://ucarecdn.com/827b0e1d-e258-4909-921c-1a7588019ea3/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="30" height="31" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:30/31;--aspect-tablet:30/31;--aspect-mobile:30/31;--objf:cover;--w:20px;--w-tablet:20px;--w-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </a>
  </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g2AzJQN06f ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image gvCMec_jmv"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <a
        class="pointer-events-auto h-full"
        href="#" target="_self" title="Image Title"
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/ffbe6946-8e11-4539-b5af-8dffd524d1ed/" data-srcset="https://ucarecdn.com/ffbe6946-8e11-4539-b5af-8dffd524d1ed/ 768w,https://ucarecdn.com/ffbe6946-8e11-4539-b5af-8dffd524d1ed/ 1024w,https://ucarecdn.com/ffbe6946-8e11-4539-b5af-8dffd524d1ed/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="30" height="31" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:30/31;--aspect-tablet:30/31;--aspect-mobile:30/31;--objf:cover;--w:20px;--w-tablet:20px;--w-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </a>
  </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gdyruZhBjN ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image gVTn5wEWYW"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <a
        class="pointer-events-auto h-full"
        href="#" target="_self" title="Image Title"
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/3d80bc97-a76a-48ad-a5f3-8c58446671c0/-/format/auto/" data-srcset="https://ucarecdn.com/3d80bc97-a76a-48ad-a5f3-8c58446671c0/-/format/auto/ 768w,https://ucarecdn.com/3d80bc97-a76a-48ad-a5f3-8c58446671c0/-/format/auto/ 1024w,https://ucarecdn.com/3d80bc97-a76a-48ad-a5f3-8c58446671c0/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="30" height="31" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:30/31;--aspect-tablet:30/31;--aspect-mobile:30/31;--objf:cover;--w:20px;--w-tablet:20px;--w-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </a>
  </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="ggKCKbuqUT ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image gnHUp6XRFV"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <a
        class="pointer-events-auto h-full"
        href="#" target="_self" title="Image Title"
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/25463f09-1102-422e-ae22-ba640487768b/-/format/auto/" data-srcset="https://ucarecdn.com/25463f09-1102-422e-ae22-ba640487768b/-/format/auto/ 768w,https://ucarecdn.com/25463f09-1102-422e-ae22-ba640487768b/-/format/auto/ 1024w,https://ucarecdn.com/25463f09-1102-422e-ae22-ba640487768b/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="30" height="31" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:30/31;--aspect-tablet:30/31;--aspect-mobile:30/31;--objf:cover;--w:20px;--w-tablet:20px;--w-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </a>
  </div>
    </div>
  
      </div>
         </div>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4EiXIFnbe relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gVAddbl1dH "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt-mobile:var(--g-s-3xl)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-bg-3, bg-3);--size:19px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:19px;--lh-tablet:150%;--size-mobile:17px;word-break:break-word"
        >
        <p>Contact Us</p>
        </div>
      </div>
    </div><div style="" class="gg0DEn6sV7 ">
      
    
    <div
      uid="gg0DEn6sV7"
       style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-l);--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="inline-flex flex-col"
        style="--rg:var(--g-s-m)"
        >
        
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:var(--g-s-s)"
    >
    <div
      
      style=""
      class="g6Jt864QSu relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g17rcOTyJO"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/b9bd1533-7fcd-4ec8-b776-9a1b5342f60a/-/format/auto/" data-srcset="https://ucarecdn.com/b9bd1533-7fcd-4ec8-b776-9a1b5342f60a/-/format/auto/ 768w,https://ucarecdn.com/b9bd1533-7fcd-4ec8-b776-9a1b5342f60a/-/format/auto/ 1024w,https://ucarecdn.com/b9bd1533-7fcd-4ec8-b776-9a1b5342f60a/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="60" height="61" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:60/61;--aspect-tablet:60/61;--aspect-mobile:60/61;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      
      style=""
      class="gb5XPMO2TG relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gMOBr0KPhe "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-bg-3 g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word"
        >
        <p>1673 Hedge Street, Millington, New Jersey</p>
        </div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:var(--g-s-s)"
    >
    <div
      
      style=""
      class="gb68FzDjT_ relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g_KMCrKR0p"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/6dfc4297-88a7-46e2-b15f-f909e783912d/-/format/auto/" data-srcset="https://ucarecdn.com/6dfc4297-88a7-46e2-b15f-f909e783912d/-/format/auto/ 768w,https://ucarecdn.com/6dfc4297-88a7-46e2-b15f-f909e783912d/-/format/auto/ 1024w,https://ucarecdn.com/6dfc4297-88a7-46e2-b15f-f909e783912d/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="60" height="61" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:60/61;--aspect-tablet:60/61;--aspect-mobile:60/61;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      
      style=""
      class="gUcW3fPJ3Z relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gpDJAfrbWw "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-bg-3 g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word"
        >
        <p>support@gemfit.com</p>
        </div>
      </div>
    </div>
    </div>
  </li>
      </ul>
  </div>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-492598816613074143 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=492598816613074143&template_id=492598816478856415)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
