
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700,400&display=swap');
      </style>
    
  <style>
    .gps-492600929904755590 .absolute{position:absolute}.gps-492600929904755590 .relative{position:relative}.gps-492600929904755590 .inset-0{inset:0}.gps-492600929904755590 .left-\[var\(--left\)\]{left:var(--left)}.gps-492600929904755590 .top-\[var\(--top\)\]{top:var(--top)}.gps-492600929904755590 .mx-auto{margin-left:auto;margin-right:auto}.gps-492600929904755590 .mb-0{margin-bottom:0}.gps-492600929904755590 .flex{display:flex}.gps-492600929904755590 .grid{display:grid}.gps-492600929904755590 .h-full{height:100%}.gps-492600929904755590 .w-full{width:100%}.gps-492600929904755590 .max-w-full{max-width:100%}.gps-492600929904755590 .flex-col{flex-direction:column}.gps-492600929904755590 .\!content-end{align-content:flex-end!important}.gps-492600929904755590 .items-center{align-items:center}.gps-492600929904755590 .justify-end{justify-content:flex-end}.gps-492600929904755590 .justify-center{justify-content:center}.gps-492600929904755590 .gap-y-0{row-gap:0}.gps-492600929904755590 .self-center{align-self:center}.gps-492600929904755590 .overflow-hidden{overflow:hidden}.gps-492600929904755590 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492600929904755590 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492600929904755590 .transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492600929904755590 .duration-200{transition-duration:.2s}.gps-492600929904755590 .duration-300{transition-duration:.3s}.gps-492600929904755590 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-492600929904755590 .group\/hero:hover .group-hover\/hero\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-492600929904755590 .group\/hero:hover .group-hover\/hero\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-492600929904755590 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-492600929904755590 .\[\&_p\]\:inline p{display:inline}.gps-492600929904755590 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492600929904755590 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g0LX_aA2w6"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--cg:16px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0LX_aA2w6 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsRCBG44KI relative flex flex-col"
    >
      
    <link rel="preload" href="https://ucarecdn.com/9284d737-b757-4ac6-84b1-3ec6ea3f5062/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/9284d737-b757-4ac6-84b1-3ec6ea3f5062/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/9284d737-b757-4ac6-84b1-3ec6ea3f5062/-/format/auto/" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-hero-banner.js" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":878,"src":"https://ucarecdn.com/9284d737-b757-4ac6-84b1-3ec6ea3f5062/-/format/auto/","width":704},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":878,"src":"https://ucarecdn.com/9284d737-b757-4ac6-84b1-3ec6ea3f5062/-/format/auto/","width":704},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":878,"src":"https://ucarecdn.com/9284d737-b757-4ac6-84b1-3ec6ea3f5062/-/format/auto/","width":704},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gj4eaVEK89"}'
      
      class="gj4eaVEK89 group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-l);--d:flex;--d-mobile:flex;--d-tablet:flex;--h:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
      <div
      class="relative flex flex-col overflow-hidden  justify-end"
        style="--h:fit-content"
      >
        <div 
          class="overflow-hidden w-full h-full"
          style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip:rect(0, auto, auto, 0)">
          <div
            aria-label="Background Image"
            role="banner"
            class="gp-hero-banner-bg absolute overflow-hidden inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center"
            style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url(https://ucarecdn.com/9284d737-b757-4ac6-84b1-3ec6ea3f5062/-/format/auto/);--bgi-tablet:url(https://ucarecdn.com/9284d737-b757-4ac6-84b1-3ec6ea3f5062/-/format/auto/);--bgi-mobile:url(https://ucarecdn.com/9284d737-b757-4ac6-84b1-3ec6ea3f5062/-/format/auto/);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--pos:absolute;--bga:scroll;--pos-tablet:absolute;--bga-tablet:scroll;--pos-mobile:absolute;--bga-mobile:scroll"
          > </div>
        </div>
        <div
          aria-label="Overlay"
          role="banner"
          class="absolute inset-0 left-[var(--left)] top-[var(--top)] transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:transparent;--top:0;--left:0;--op:0%"
        > </div>
        
        
      
      
    <div
      id
        style="--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%)"
        class="!content-end mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDafFt9v_S relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g1WROmVlKB"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pl:var(--g-s-2xl);--pr:var(--g-s-2xl);--mb-mobile:30px;--pl-mobile:30px;--pr-mobile:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1WROmVlKB mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gB8Rn5rBnC relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gzQu-Brq5t"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:470px;--mb:var(--g-s-l);--pt:var(--g-s-l);--pl:var(--g-s-xl);--pb:var(--g-s-l);--pr:var(--g-s-xl);--mt-tablet:364px;--mb-tablet:var(--g-s-l);--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-xl);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzQu-Brq5t mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gy63KWLpIE relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gNJQc9CICM "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#242424;word-break:break-word"
        >
        <p>FACE</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gtKQTIrriv "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#242424;word-break:break-word"
        >
        <p><u>SHOP NOW</u></p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      </div>
    </gp-hero-banner>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFkr7nTcbb relative flex flex-col"
    >
      
    <link rel="preload" href="https://ucarecdn.com/0cc9c6ca-6ca3-4cdf-a489-ee22974068b6/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/0cc9c6ca-6ca3-4cdf-a489-ee22974068b6/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/0cc9c6ca-6ca3-4cdf-a489-ee22974068b6/-/format/auto/" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-hero-banner.js" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":878,"src":"https://ucarecdn.com/0cc9c6ca-6ca3-4cdf-a489-ee22974068b6/-/format/auto/","width":705},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":878,"src":"https://ucarecdn.com/0cc9c6ca-6ca3-4cdf-a489-ee22974068b6/-/format/auto/","width":705},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":878,"src":"https://ucarecdn.com/0cc9c6ca-6ca3-4cdf-a489-ee22974068b6/-/format/auto/","width":705},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"g03oUr3Dcr"}'
      
      class="g03oUr3Dcr group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-l);--d:flex;--d-mobile:flex;--d-tablet:flex;--h:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
      <div
      class="relative flex flex-col overflow-hidden  justify-end"
        style="--h:fit-content"
      >
        <div 
          class="overflow-hidden w-full h-full"
          style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip:rect(0, auto, auto, 0)">
          <div
            aria-label="Background Image"
            role="banner"
            class="gp-hero-banner-bg absolute overflow-hidden inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center"
            style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url(https://ucarecdn.com/0cc9c6ca-6ca3-4cdf-a489-ee22974068b6/-/format/auto/);--bgi-tablet:url(https://ucarecdn.com/0cc9c6ca-6ca3-4cdf-a489-ee22974068b6/-/format/auto/);--bgi-mobile:url(https://ucarecdn.com/0cc9c6ca-6ca3-4cdf-a489-ee22974068b6/-/format/auto/);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--pos:absolute;--bga:scroll;--pos-tablet:absolute;--bga-tablet:scroll;--pos-mobile:absolute;--bga-mobile:scroll"
          > </div>
        </div>
        <div
          aria-label="Overlay"
          role="banner"
          class="absolute inset-0 left-[var(--left)] top-[var(--top)] transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:transparent;--top:0;--left:0;--op:0%"
        > </div>
        
        
      
      
    <div
      id
        style="--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%)"
        class="!content-end mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyrxoOYxfo relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gZ_wcCikCV"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pl:var(--g-s-2xl);--pr:var(--g-s-2xl);--mb-mobile:30px;--pl-mobile:30px;--pr-mobile:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZ_wcCikCV mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYBu1a8s1N relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gP_NfUN9k0"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:470px;--mb:var(--g-s-l);--pt:var(--g-s-l);--pl:var(--g-s-xl);--pb:var(--g-s-l);--pr:var(--g-s-xl);--mt-tablet:364px;--mb-tablet:var(--g-s-l);--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-xl);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gP_NfUN9k0 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gaZbc6jw_H relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gkiUu40QLH "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#242424;word-break:break-word"
        >
        <p>EYES &amp; BROWS</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gRZIRfvDpb "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#242424;word-break:break-word"
        >
        <p><u>SHOP NOW</u></p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      </div>
    </gp-hero-banner>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9sBKsP83t relative flex flex-col"
    >
      
    <link rel="preload" href="https://ucarecdn.com/69a86029-1823-418e-8aaf-61513b2e431c/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/69a86029-1823-418e-8aaf-61513b2e431c/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/69a86029-1823-418e-8aaf-61513b2e431c/-/format/auto/" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-hero-banner.js" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":878,"src":"https://ucarecdn.com/69a86029-1823-418e-8aaf-61513b2e431c/-/format/auto/","width":704},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":878,"src":"https://ucarecdn.com/69a86029-1823-418e-8aaf-61513b2e431c/-/format/auto/","width":704},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":878,"src":"https://ucarecdn.com/69a86029-1823-418e-8aaf-61513b2e431c/-/format/auto/","width":704},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gSBYz0_in7"}'
      
      class="gSBYz0_in7 group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--op:100%;--radius:var(--g-radius-none);--mb:0px;--d:flex;--d-mobile:flex;--d-tablet:flex;--h:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
      <div
      class="relative flex flex-col overflow-hidden  justify-end"
        style="--h:fit-content"
      >
        <div 
          class="overflow-hidden w-full h-full"
          style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip:rect(0, auto, auto, 0)">
          <div
            aria-label="Background Image"
            role="banner"
            class="gp-hero-banner-bg absolute overflow-hidden inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center"
            style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url(https://ucarecdn.com/69a86029-1823-418e-8aaf-61513b2e431c/-/format/auto/);--bgi-tablet:url(https://ucarecdn.com/69a86029-1823-418e-8aaf-61513b2e431c/-/format/auto/);--bgi-mobile:url(https://ucarecdn.com/69a86029-1823-418e-8aaf-61513b2e431c/-/format/auto/);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--pos:absolute;--bga:scroll;--pos-tablet:absolute;--bga-tablet:scroll;--pos-mobile:absolute;--bga-mobile:scroll"
          > </div>
        </div>
        <div
          aria-label="Overlay"
          role="banner"
          class="absolute inset-0 left-[var(--left)] top-[var(--top)] transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:transparent;--top:0;--left:0;--op:0%"
        > </div>
        
        
      
      
    <div
      id
        style="--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%)"
        class="!content-end mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJh3EYxyua relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gI4b7YYzVZ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pl:var(--g-s-2xl);--pr:var(--g-s-2xl);--mb-mobile:30px;--pl-mobile:30px;--pr-mobile:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gI4b7YYzVZ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2fcjbly7I relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="ghNR5A6Em2"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:470px;--mb:var(--g-s-l);--pt:var(--g-s-l);--pl:var(--g-s-xl);--pb:var(--g-s-l);--pr:var(--g-s-xl);--mt-tablet:364px;--mb-tablet:var(--g-s-l);--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-xl);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghNR5A6Em2 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtJ66M4iFt relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g2vYzFrnYp "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#242424;word-break:break-word"
        >
        <p>LIPS</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gQ--lzKrmi "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#242424;word-break:break-word"
        >
        <p><u>SHOP NOW</u></p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      </div>
    </gp-hero-banner>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-492600929904755590 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=492600929904755590&template_id=492600929720206214)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
