
  
  
  <style>
    .gps-494753550786691971 .relative{position:relative}.gps-494753550786691971 .mx-auto{margin-left:auto;margin-right:auto}.gps-494753550786691971 .mb-0{margin-bottom:0}.gps-494753550786691971 .flex{display:flex}.gps-494753550786691971 .grid{display:grid}.gps-494753550786691971 .max-w-full{max-width:100%}.gps-494753550786691971 .flex-col{flex-direction:column}.gps-494753550786691971 .gap-y-0{row-gap:0}.gps-494753550786691971 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-494753550786691971 .duration-200{transition-duration:.2s}.gps-494753550786691971 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-494753550786691971 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l145941bc82"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(255, 255, 255)"
        class="i2l145941bc82 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l145941bc82 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="w-i2l145941bc82"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:;--gtc-tablet:;--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l145941bc82 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-494753550786691971 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/the-co-creative/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=494753550602077059&sectionId=494753550786691971)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
