
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700&display=swap');
      </style>
    
  <style>
    .gps-492600929887978374 .pointer-events-auto{pointer-events:auto}.gps-492600929887978374 .relative{position:relative}.gps-492600929887978374 .mx-auto{margin-left:auto;margin-right:auto}.gps-492600929887978374 .mb-0{margin-bottom:0}.gps-492600929887978374 .\!inline{display:inline!important}.gps-492600929887978374 .flex{display:flex}.gps-492600929887978374 .grid{display:grid}.gps-492600929887978374 .h-full{height:100%}.gps-492600929887978374 .w-full{width:100%}.gps-492600929887978374 .max-w-full{max-width:100%}.gps-492600929887978374 .flex-col{flex-direction:column}.gps-492600929887978374 .gap-y-0{row-gap:0}.gps-492600929887978374 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492600929887978374 .duration-200{transition-duration:.2s}.gps-492600929887978374 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492600929887978374 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-492600929887978374 .\[\&_p\]\:inline p{display:inline}.gps-492600929887978374 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492600929887978374 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gvU5zspWWI"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvU5zspWWI mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goVSkZC3Vk relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g-zMHkC7Ve"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-zMHkC7Ve mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9EWkrG0fZ relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gys_xzeDsd"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/ce97987a-94d1-4577-9a12-b29525a23a8f/-/format/auto/" data-srcset="https://ucarecdn.com/ce97987a-94d1-4577-9a12-b29525a23a8f/-/format/auto/ 768w,https://ucarecdn.com/ce97987a-94d1-4577-9a12-b29525a23a8f/-/format/auto/ 1024w,https://ucarecdn.com/ce97987a-94d1-4577-9a12-b29525a23a8f/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="120" height="120" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:120/120;--aspect-tablet:120/120;--aspect-mobile:120/120;--objf:cover;--w:120px;--w-tablet:120px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="gEnFv90u6l "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-3xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word"
        >
        <p>&nbsp;Aesthetician-Developed</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gL1ek9B0lq relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gFCIsfaWgW"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/526e54f2-999d-40e1-98b0-efb7028617f8/-/format/auto/" data-srcset="https://ucarecdn.com/526e54f2-999d-40e1-98b0-efb7028617f8/-/format/auto/ 768w,https://ucarecdn.com/526e54f2-999d-40e1-98b0-efb7028617f8/-/format/auto/ 1024w,https://ucarecdn.com/526e54f2-999d-40e1-98b0-efb7028617f8/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="120" height="120" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:120/120;--aspect-tablet:120/120;--aspect-mobile:120/120;--objf:cover;--w:120px;--w-tablet:120px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="gWAo5bafaH "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-3xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word"
        >
        <p>Paraben-Free</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gR4FVBqmBq relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gglyqP35uF"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/896d304f-4879-4bb5-b62c-39f63c096e8c/-/format/auto/" data-srcset="https://ucarecdn.com/896d304f-4879-4bb5-b62c-39f63c096e8c/-/format/auto/ 768w,https://ucarecdn.com/896d304f-4879-4bb5-b62c-39f63c096e8c/-/format/auto/ 1024w,https://ucarecdn.com/896d304f-4879-4bb5-b62c-39f63c096e8c/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="120" height="120" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:120/120;--aspect-tablet:120/120;--aspect-mobile:120/120;--objf:cover;--w:120px;--w-tablet:120px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="gL40UdxDW8 "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-3xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word"
        >
        <p>Cruelty-Free</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goII-HsLd2 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gZmIpuJRUo"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/a2807ff2-8a8d-421d-bf5d-e8cc19a2dbb6/-/format/auto/" data-srcset="https://ucarecdn.com/a2807ff2-8a8d-421d-bf5d-e8cc19a2dbb6/-/format/auto/ 768w,https://ucarecdn.com/a2807ff2-8a8d-421d-bf5d-e8cc19a2dbb6/-/format/auto/ 1024w,https://ucarecdn.com/a2807ff2-8a8d-421d-bf5d-e8cc19a2dbb6/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="120" height="120" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:120/120;--aspect-tablet:120/120;--aspect-mobile:120/120;--objf:cover;--w:120px;--w-tablet:120px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="gv1TbWJ1Tg "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word"
        >
        <p>For All Skin Types</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-492600929887978374 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=492600929887978374&template_id=492600929720206214)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
